

<ul>
    {{#each restaurantList}}
        <li>
            <div><a href="/restaurants/{{_id}}">Check Out Restaurants</a></div>
            <div><a href="/restaurants/delete/{{_id}}">Delete Restaurants</a></div>
            <div>ID: {{_id}}</div>
            <h1> Name: {{name}}</h1>
            <h2>Description: {{description}}</h2>
            <div>Phone Number: {{phoneNumber}}</div>
            <div>Items: 
                <ul>
                    {{# each items}}
                        <li>Name: {{name}}</li>
                    {{/ each}}
                </ul>
            </div>
        </li>
        <br>
    {{/each}}
</ul>

<div><a href="/restaurants/new">Create a New User</a></div>