<div class="frame" >
    <div class="id">Id: {{user._id}}</div>
    <div class="name">
    <div>Name: {{user.name}}</div>
    <div>Description: {{user.description}}</div>
    <div>phoneNumber: {{user.phoneNumber}}</div>
    <div> Items:
        <ul>
            {{# each user.items}}
                <span><li>Items: {{name}}</li></span> 
                <span><a href="/restaurants/{{../user.id}}/items/{{id}}/edit" class="btn btn-default btn-xs">Edit</a></span>
                <span><a href="/restaurants/{{../user.id}}/items/{{id}}/delete" class="btn btn-default btn-xs" >Delete</a></span>
            {{/ each}}
        </ul>
    </div>

<div><a href="/restaurants/edit/{{user.id}}">Edit This restaurant</a></div>
    <div><a href="/restaurants/{{user._id}}/items/new">Add a New Item</a></div>
    <div><a href="/restaurants" class="btn btn-default">Main Page</a></div>

</div>
</div> 